# Store Scrapped Data to Database

In [1]:
import pandas as pd
import numpy as np

In [2]:
covid_df = pd.read_csv('./combined_data/covid_df.csv')
covid_df.head(69)

,county,state,# total covid cases,# covid cases per 100k,# covid deaths
0,Autauga County,Alabama,15863,28393.205534,216
1,Baldwin County,Alabama,55862,25023.965883,681
2,Barbour County,Alabama,5681,23013.043831,98
3,Bibb County,Alabama,6457,28833.616147,105
4,Blount County,Alabama,15005,25948.535261,243
...,...,...,...,...,...
64,Washington County,Alabama,3736,22883.743722,59
65,Wilcox County,Alabama,2892,27880.073267,46
66,Winston County,Alabama,7576,32062.296331,131
67,Aleutians East Borough,Alaska,608,18219.958046,0
68,Aleutians West Census Area,Alaska,865,15353.212638,2

In [3]:
covid_df.columns

Index(['county', 'state', '# total covid cases', '# covid cases per 100k',
       '# covid deaths'],
      dtype='object')

In [4]:
covid_df.dtypes

county                     object
state                      object
# total covid cases         int64
# covid cases per 100k    float64
# covid deaths              int64
dtype: object

In [5]:
covid_df.isna().sum()

county                    0
state                     0
# total covid cases       0
# covid cases per 100k    0
# covid deaths            0
dtype: int64

In [ ]:
# !pip install pymysql

In [6]:
import pymysql

In [7]:
insert_query = 'INSERT INTO state_data VALUES '

for i in range(covid_df.shape[0]):
    insert_query += '('
    
    for j in range(covid_df.shape[1]):
        if covid_df[[covid_df.columns.values[j]]].dtypes[0] != object:
            insert_query += str(covid_df[covid_df.columns.values[j]][i]) + ', '
        else:
            insert_query += '"' + str(covid_df[covid_df.columns.values[j]][i]) + '", '
        
    insert_query = insert_query[:-2] + '), '

insert_query = insert_query[:-2] + ';'

In [8]:
# insert_query

In [9]:
conn = pymysql.connect(database = 'state_data', user = 'root')

In [10]:
cursor = conn.cursor()

In [11]:
cursor.execute('SELECT countyName FROM state_data;')

0

In [12]:
cursor.execute(insert_query)
# cursor.execute("INSERT INTO state_data VALUES (15863, 28393.20553437505, 216,'Autauga', 'Alabama');")

3118

In [13]:
conn.commit()

In [14]:
conn.close()